body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 2em;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 4.5rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E
}

a {
    color: #11999E;
}

.header-subtitle {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 0;
    color: #66BFBF;
}

.topContainer {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;

}

.middle-container {
   
}

.bottom-container {
   
}

.bottomCloud {
    position: absolute;
    left: 500px;
    bottom: 300px;
}

.topCloud {
    position: absolute;
    top: 50px;
    right: 500px;
}

.forex-image {
    width: 300px;
    height: 300px;
    padding-top: 10px;
}

.skills-image {
    width: 25%;
    padding-top: 10px;
    float: left;
    margin-right: 30px;
}

.star-image {
    padding-top: 50px;
    width: 25%;
    margin-left: 30px;
}

.contact-image {
    width: 300px;
    padding-top: 10px;
}

.skill-row {
    text-align: left;
    width: 50%;
    margin: 100px auto 100px auto;
}

.skill-row2 {
    
    line-height: 2;
    font-size: 16px;
    width: 100%;
}

.skills-table {
    display: inline-block;
    font-size: 24px;
    margin-left: 100px auto 100px auto;
}

.skills2 {
    display: inline-block;
    width: 100%;
    text-align: right;
}


